# for old machine limitted to old version of driver which can't install cuda 9.0 and above
numpy==1.16.2
pandas==0.24.2
scikit-image==0.14.2
scikit-learn==0.20.3
scipy==1.2.1
tb-nightly==1.15.0a20190911
tensorboard==1.12.2
tensorboardx==1.6
torchsummary==1.5.1
torchvision==0.2.1
pytorch==0.4.0
tqdm==4.31.1
